/* Fills all the screen and align all items in the center */
.container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

/* Contains the time and aligns it in the center */
.circle {
  height: 30em;
  width: 30em;
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--blue-gray);
  opacity: 0.4;
  transition: 0.3s;
}

/* Displays other infos */
.timer {
  height: 50em;
  width: 50em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

/* The main title */
.timer .title {
  transition: 0.3s;
}

/* Buttons sections */
.timer .buttons {
  width: 100%;
  height: 10%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

/* Individual buttons */
.timer .buttons .button {
  width: 40%;
  text-align: center;
  background-color: var(--blue-grotto);
  border: none;
  opacity: 0.5;
  transition: 0.1s;
}

/* Transitions */
.circle:hover, .button:hover, .title:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

.button:active {
  transform: scale(1);
}